{% extends "layouts/app" %}

{% block content %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">
                Dashboard
            </h2>
        </div>
    </div>
</div>
<h1>Dashboard</h1>
{% endblock content %}