<div class="row">
    <div class="col-md-6 col-xl-12">
        <input type="hidden" name="id" value="{{ item.id|default('') }}">

        <div class="mb-3">
            <label class="form-label">Nama Identitas</label>
            <input type="text" class="form-control" name="name" value="{{ item.name|default('') }}" required>
        </div>
    </div>
</div>